#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=Luna-Icon-128x128
Name=LunaAVR
Exec=/opt/LunaAVR/LunaAVR
Categories=Development;
